---
layout: page
title: Все посты по категориям
top-categories: ["SharePoint Client Side", "SharePoint 2013", "SharePoint продвинутая разработка", "SharePoint business value", "SharePoint"]
description: Нажмите на название категории, чтобы увидеть список постов
---

{% for cat_name in page.top-categories %}
    {% include category.html category=cat_name %}
{% endfor %}                      



{% for cat in site.categories %}
    {% capture cat_name %}{{ cat | first }}{% endcapture %}
        
    {% unless page.top-categories contains cat_name %}
        {% include category.html category=cat_name %}
    {% endunless %}                      
{% endfor %}                      
