---
layout: page
description: Блог о SharePoint, облаках, порталах, архитектуре, разработке и бизнесе. 
---
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}</h2>
    </a>
    <p class="post-meta">{% if post.date %}{{ post.date | date: "%B %-d, %Y" }}{% endif %} </p>
    {{post.content}}
    {% if forloop.index == 2 %}
    <!-- Responsive -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4291121873977655"
        data-ad-slot="6228432527"
        data-ad-format="auto"></ins>
    {% endif %}
</div>
<hr>
<br/>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Предыдущая страница</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Следующая страница &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

 
