<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="{% if page.layout == "post" %}post-heading{% else %}site-heading{% endif %}">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    
                    {% if page.layout != "post" %}
                    <hr class="small">
                    {% endif %}
                    
                    {% if page.description %}
                    <h2 class="subheading">{{ page.description }}</h2>
                    {% endif %}
                    
                    {% if page.layout == "post" %}
                       <span class="meta"> {% if page.date %}{{ page.date | date: "%B %-d, %Y" }}{% endif %} 
                       <a  href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a> </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>