---
layout: default
type: article
---
<article>
{{ content }}
</article>

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Теги {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% assign tag = nil %}
        {% for tag_page in site.tagpages %}
            {% if tag_page.tags contains post_tag %}
                {% assign tag = tag_page %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ post_tag }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<p id="post-tags">{{ tags_content }}</p>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_recommended_horizontal hidden-xs "></div>
<!-- Post ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4291121873977655"
     data-ad-slot="1239829729"
     data-ad-format="auto"></ins>
<hr>

<ul class="pager">
    {% if page.previous.url %}
    <li class="previous">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; {{page.previous.title}}</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="next">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">{{page.next.title}} &rarr;</a>
    </li>
    {% endif %}
</ul>
{% if site.owner.disqus-shortname %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% include disqus_comments.html %}
{% endif %}

