---
layout: default
---
<article>
{{ content }}
</article>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_recommended_horizontal hidden-xs "></div>
<hr>

<ul class="pager">
    {% if page.previous.url %}
    <li class="previous">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; {{page.previous.title}}</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="next">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">{{page.next.title}} &rarr;</a>
    </li>
    {% endif %}
</ul>
{% if site.owner.disqus-shortname %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% include disqus_comments.html %}
{% endif %}
